<launch>
  <!-- gps_testing.launch, created by: William Willie Wells, in May 2016 -->

  <!--================================Bag Recording===================================-->  
  <group ns="w">

  <!--===============================RF Communication================================-->
  <node name="laser_comm" type="serial_comm" pkg="communication">
    <remap from="serial_rx_data" to="laser_rx_data"/>
    <remap from="serial_tx_data" to="laser_tx_data"/>
    <param name="serial_device" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate" value="9600"/>
  </node><!--rf-->

  <node name="autostart" type="send_serial" pkg="gps_testing"/>
 
  </group>
</launch>
